@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
body{
    background-image: url('/wallpaper.jpg');
  
}

table{    
    box-shadow: rgba(2, 53, 75, 0.493) 0px 1px 35px, rgba(228, 5, 5, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background: rgba(2, 53, 75, 0.493);
    color: #fff;
}

table.list{
    padding: 10px;
    width: 50%;
    margin-left: 25rem;
    border-radius: 0.5rem;
    border-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    border-style: ridge;
}

td{
    width: 60px;
    border: 1px solid rgb(255, 251, 251);
    text-align: center;
    border-radius: 0.5rem;
    border-style: ridge;
}

tr:nth-child(even), table.list thread> tr{
    background-color: hwb(0 4% 7% / 0.911);
}

input[type="number"],[type="text"]{
    width: 20%;
    border: none;
    margin: 5px 0;
    padding: 10px 10px;
    border-radius: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type="text"]{
    margin-right: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#situation{
    margin-left: 8.8rem;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 2px 10px 3.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background: #eee;
    padding:6px 12px;
    margin:15px 2px 10px 3.5rem;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background:hwb(0 4% 7% / 0.911);
}
form{
    text-align: center;
   
}
h1{
    margin-left: 4rem;
    letter-spacing: 7px;
    color: hwb(0 4% 7% / 0.911);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: underline;
}
label{
    color: hwb(0 4% 7% / 0.911);
    font-size: 1.2rem;
    font-weight: 700;
}

